{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_slider-1-1">
			<!-- START Slider 1 1 REVOLUTION SLIDER 6.5.6.16 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery" style="visibility:hidden;background:#ffffff;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_1_1" style="" data-version="6.5.6.16">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-6" data-title="Custom Skincare Quiz" data-thumb="//cdn.shopify.com/s/files/1/0217/2305/4144/t/19/assets/fm_SBB_BFCM_Web_Slider-04.jpg" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0217/2305/4144/t/19/assets/fm_SBB_BFCM_Web_Slider-04.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><a
								id="slider-1-slide-6-layer-0" 
								class="rs-layer rev-btn"
								href="https://www.skinbyblair.com/#finder-quiz-4820" target="_self"
								data-type="button"
								data-bsh="c:rgba(0,0,0,0.25);h:8px,5px,5px,5px;b:16px,11px,11px,11px;"
								data-rsp_ch="on"
								data-xy="xo:98px,69px,69px,69px;yo:299px,358px,358px,358px;"
								data-text="w:normal;s:25,18,18,18;l:53,39,39,39;a:center;"
								data-dim="w:502px,376px,376px,376px;minh:0,none,0,0;"
								data-padding="r:33,25,25,25;l:33,25,25,25;"
								data-frame_999="o:0;st:w;"
								data-frame_hover="c:#fff;bgc:#edc6c6;bor:0px,0px,0px,0px;bos:none;"
								style="z-index:8;background-color:#efcdcd;font-family:'Montserrat';"
							>GET YOUR CUSTOMIZED ROUTINE 
							</a><!--

							--><rs-layer
								id="slider-1-slide-6-layer-10" 
								data-type="text"
								data-color="#fff"
								data-rsp_ch="on"
								data-xy="xo:96px,56px,56px,56px;yo:182px,92px,92px,92px;"
								data-text="w:normal;s:57,56,56,56;l:63,62,62,62;ls:2,0,2,2;fw:500;"
								data-dim="minh:0,none,0,0;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;font-family:'Bodoni Moda';"
							>new year, new skincare. 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-9" data-title="Eye Cream Launch" data-thumb="//cdn.shopify.com/s/files/1/0217/2305/4144/t/19/assets/fm_SBB-10-banner-1_2.jpg" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0217/2305/4144/t/19/assets/fm_SBB-10-banner-1_2.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="p:left bottom;" data-no-retina>
<!--
							--><a
								id="slider-1-slide-9-layer-0" 
								class="rs-layer rev-btn"
								href="https://www.skinbyblair.com/products/skin-by-blair-all-in-one-eye-cream?utm_source=website&utm_medium=banner&utm_campaign=eye+cream+launch" target="_self"
								data-type="button"
								data-color="#8e8e93"
								data-bsh="c:rgba(0,0,0,0.25);h:8px,5px,5px,5px;b:16px,12px,12px,12px;"
								data-rsp_ch="on"
								data-xy="xo:107px,56px,56px,56px;yo:378px,374px,374px,374px;"
								data-text="w:normal;s:25,19,19,19;l:53,42,42,42;fw:400,600,600,600;"
								data-dim="minh:0,none,0,0;"
								data-padding="r:33,27,27,27;l:33,27,27,27;"
								data-frame_999="o:0;st:w;"
								data-frame_hover="c:#fff;bgc:#edc6c6;bor:0px,0px,0px,0px;bos:none;"
								style="z-index:8;background-color:rgba(255,255,255,1);font-family:'Raleway';"
							>SHOP ALL-IN-ONE EYE CREAM 
							</a><!--

							--><rs-layer
								id="slider-1-slide-9-layer-2" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="xo:107px,56px,56px,56px;yo:248px,253px,253px,253px;"
								data-text="w:nowrap;s:35,32,32,32;l:45,41,41,41;fw:400,500,500,500;"
								data-dim="w:631,594,594,594;"
								data-frame_999="o:0;st:w;"
								style="z-index:10;font-family:'Raleway';"
							>Fight fine lines, puffiness, dryness,</br>dark circles, & eye bags simultaneously. 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-9-layer-7" 
								data-type="text"
								data-color="#fff"
								data-rsp_ch="on"
								data-xy="xo:108px,56px,56px,56px;yo:87px,92px,92px,92px;"
								data-text="w:normal;s:57,56,56,56;l:63,62,62,62;ls:2,0,2,2;fw:500;"
								data-dim="minh:0,none,0,0;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;font-family:'Bodoni Moda';"
							>your all-encompassing </br>eye care solution. 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_1_1',rl:[1240,1024,1024,1024],el:[568,568,568,568],gw:[1366,1024,1024,1024],gh:[568,568,568,568],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider11"]!==undefined) {window.RS_MODULES.modules["revslider11"].once = false;window.revapi1 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Montserrat:400%7CBodoni+Moda:500%7CRoboto:400%7CRaleway:400%2C600%2C500" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		#revslider_foot_slider-1-1 #rev_slider_1_1_wrapper{z-index:0}
		#rev_slider_1_1_wrapper .hesperiden.tparrows{cursor:pointer;background:rgba(142,142,147,0);width:30px;height:30px;position:absolute;display:block;z-index:1000;  border-radius:50%}#rev_slider_1_1_wrapper .hesperiden.tparrows.rs-touchhover{background:rgba(255,211,224,0.4)}#rev_slider_1_1_wrapper .hesperiden.tparrows:before{font-family:'revicons';font-size:15px;color:#ffffff;display:block;line-height:30px;text-align:center}#rev_slider_1_1_wrapper .hesperiden.tparrows.tp-leftarrow:before{content:'\e82c';  margin-left:-3px}#rev_slider_1_1_wrapper .hesperiden.tparrows.tp-rightarrow:before{content:'\e82d';  margin-right:-3px}#rev_slider_1_1_wrapper .ares.tp-bullets{}#rev_slider_1_1_wrapper .ares.tp-bullets:before{content:' ';position:absolute;width:100%;height:100%;background:transparent;padding:10px;margin-left:-10px;margin-top:-10px;box-sizing:content-box}#rev_slider_1_1_wrapper .ares .tp-bullet{width:8px;height:8px;position:absolute;background:#c7c7cc;border-radius:50%;cursor:pointer;box-sizing:content-box}#rev_slider_1_1_wrapper .ares .tp-bullet.rs-touchhover,#rev_slider_1_1_wrapper .ares .tp-bullet.selected{background:#ffd3e0}#rev_slider_1_1_wrapper .ares .tp-bullet-title{position:absolute; color:#888888; font-size:12px; padding:0px 10px; font-weight:600; right:27px; top:-4px;  background:rgba(255,255,255,0.75); visibility:hidden; transform:translatex(-20px); -webkit-transform:translatex(-20px); transition:transform 0.3s; -webkit-transition:transform 0.3s; line-height:20px; white-space:nowrap}#rev_slider_1_1_wrapper .ares .tp-bullet-title:after{width:0px;height:0px;border-style:solid;border-width:10px 0 10px 10px;border-color:transparent transparent transparent rgba(255,255,255,0.75);content:' ';  position:absolute;  right:-10px;top:0px}#rev_slider_1_1_wrapper .ares .tp-bullet.rs-touchhover .tp-bullet-title{visibility:visible;  transform:translatex(0px); -webkit-transform:translatex(0px)}#rev_slider_1_1_wrapper .ares .tp-bullet.selected.rs-touchhover .tp-bullet-title{background:#ffd3e0}#rev_slider_1_1_wrapper .ares .tp-bullet.selected.rs-touchhover .tp-bullet-title:after{border-color:transparent transparent transparent #ffd3e0}#rev_slider_1_1_wrapper .ares.tp-bullets.rs-touchhover .tp-bullet-title{visibility:hidden}#rev_slider_1_1_wrapper .ares.tp-bullets.rs-touchhover .tp-bullet.rs-touchhover .tp-bullet-title{visibility:visible;  transform:translateX(0px) translatey(0px); -webkit-transform:translateX(0px) translatey(0px)}#rev_slider_1_1_wrapper .ares.nav-dir-vertical.nav-pos-hor-left .tp-bullet-title{right:auto; left:27px; transform:translatex(20px); -webkit-transform:translatex(20px)}#rev_slider_1_1_wrapper .ares.nav-dir-vertical.nav-pos-hor-left .tp-bullet-title:after{border-width:10px 10px 10px 0 !important; border-color:transparent rgba(255,255,255,0.75) transparent transparent; right:auto !important; left:-10px !important}#rev_slider_1_1_wrapper .ares.nav-dir-vertical.nav-pos-hor-left .tp-bullet.selected.rs-touchhover .tp-bullet-title:after{border-color:transparent #ffd3e0 transparent transparent !important}#rev_slider_1_1_wrapper .ares.nav-dir-horizontal.nav-pos-ver-center .tp-bullet-title,#rev_slider_1_1_wrapper .ares.nav-dir-horizontal.nav-pos-ver-bottom .tp-bullet-title{top:-35px; left:50%; right:auto; transform:translateX(-50%) translateY(-10px);-webkit-transform:translateX(-50%) translateY(-10px)}#rev_slider_1_1_wrapper .ares.nav-dir-horizontal.nav-pos-ver-center .tp-bullet-title:after,#rev_slider_1_1_wrapper .ares.nav-dir-horizontal.nav-pos-ver-bottom .tp-bullet-title:after{border-width:10px 10px 0px 10px; border-color:rgba(255,255,255,0.75) transparent transparent transparent; right:auto; left:50%; margin-left:-10px; top:auto; bottom:-10px}#rev_slider_1_1_wrapper .ares.nav-dir-horizontal.nav-pos-ver-center .tp-bullet.selected.rs-touchhover .tp-bullet-title:after,#rev_slider_1_1_wrapper .ares.nav-dir-horizontal.nav-pos-ver-bottom .tp-bullet.selected.rs-touchhover .tp-bullet-title:after{border-color:#ffd3e0 transparent transparent transparent}#rev_slider_1_1_wrapper .ares.nav-dir-horizontal.nav-pos-ver-center .tp-bullet.rs-touchhover .tp-bullet-title,#rev_slider_1_1_wrapper .ares.nav-dir-horizontal.nav-pos-ver-bottom .tp-bullet.rs-touchhover .tp-bullet-title{transform:translateX(-50%) translatey(0px); -webkit-transform:translateX(-50%) translatey(0px)}#rev_slider_1_1_wrapper .ares.nav-dir-horizontal.nav-pos-ver-top .tp-bullet-title{top:25px; left:50%; right:auto; transform:translateX(-50%) translateY(10px);-webkit-transform:translateX(-50%) translateY(10px)}#rev_slider_1_1_wrapper .ares.nav-dir-horizontal.nav-pos-ver-top .tp-bullet-title:after{border-width:0 10px 10px 10px; border-color:transparent transparent rgba(255,255,255,0.75) transparent; right:auto; left:50%; margin-left:-10px; bottom:auto; top:-10px}#rev_slider_1_1_wrapper .ares.nav-dir-horizontal.nav-pos-ver-top .tp-bullet.selected.rs-touchhover .tp-bullet-title:after{border-color:transparent transparent #ffd3e0 transparent}#rev_slider_1_1_wrapper .ares.nav-dir-horizontal.nav-pos-ver-top .tp-bullet.rs-touchhover .tp-bullet-title{transform:translateX(-50%) translatey(0px); -webkit-transform:translateX(-50%) translatey(0px)}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi1;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider11"] = {init:function() {
			window.revapi1 = window.revapi1===undefined || window.revapi1===null || window.revapi1.length===0  ? document.getElementById("rev_slider_1_1") : window.revapi1;
			if(window.revapi1 === null || window.revapi1 === undefined || window.revapi1.length==0) { window.revapi1initTry = window.revapi1initTry ===undefined ? 0 : window.revapi1initTry+1; if (window.revapi1initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider11"].init()}); return;}
			window.revapi1 = jQuery(window.revapi1);
			if(window.revapi1.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_1_1"); return;}
			revapi1.revolutionInit({
					revapi:"revapi1",
					DPR:"dpr",
					duration:"5000ms",
					visibilityLevels:"1240,1024,1024,1024",
					visibilityLevelsKey:"61fbf893c9392",
					gridwidth:"1366,1024,1024,1024",
					gridheight:"568,568,568,568",
					lazyType:"smart",
					spinner:"spinner0",
					perspective:600,
					perspectiveType:"global",
					editorheight:"568,568,400,219",
					responsiveLevels:"1240,1024,1024,1024",
					progressBar:{disableProgressBar:true},
					navigation: {
						wheelCallDelay:1000,
						onHoverStop:false,
						arrows: {
							enable:true,
							style:"hesperiden",
							hide_onmobile:true,
							hide_under:778,
							hide_onleave:true,
							left: {
								h_offset:10
							},
							right: {
								h_offset:10
							}
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-title\">{% echo '{{title}}' %}</span>",
							style:"ares",
							v_offset:19,
							space:10
						}
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_slider-1-1" ).after( "<div id='revslider_show_slider-1-1'></div>" );
                            jQuery( "#revslider_drag_slider-1-1" ).hide();
                            jQuery("#revslider_foot_slider-1-1").appendTo("#revslider_show_slider-1-1");
                            jQuery("#revslider_show_slider-1-1 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>